################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserManagment/.vs
/UserManagment/UserManagment/obj
/UserManagment/UserManagementApiIntergrationTests/bin/Debug/netcoreapp2.2
/UserManagment/UserManagementApiIntergrationTests/obj
